.main-part {
  width: calc(100% - 230px);
  display: flex;
  padding: 20px;
  position: relative;
  padding-bottom: 50px;
  flex-direction: column;
}
.gif {
  position: fixed; /* 固定定位 */
  bottom: -120px; /* 距离页面底部的距离 */
  right: -80px; /* 距离页面右侧的距离 */
  transform: scale(0.5); /* 缩小到原来的 30% */
  z-index: -2; /* 确保其在其他元素上方显示 */
}
@media (max-width: 800px) {
  .gif {
    display: none;
  }
}